@import 'mediawiki.ui/variables.less';

.client-js {
	h1.firstHeading {
		// remove the space that was reserved for the discover section
		margin-bottom: 0;
	}
}

.ext-wikistories-discover {
	height: 74px;
	margin: 10px 0;
	white-space: nowrap;
	display: flex;
	align-items: center;

	&-stories {
		display: flex;
		overflow-x: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&-item,
	&-item-cta {
		display: flex;
		flex: auto;
		width: auto;
		align-items: center;
		padding: 0 4px;
		cursor: pointer;
		border-right: 1px solid @colorGray12;

		&-btn {
			min-width: 52px;
			min-height: 52px;
			background-color: #b0adad;
			border-radius: 26px;
			font-size: 24px;
			color: #fff;
			display: grid;
			place-items: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			margin: 0 9px;
		}

		&-text {
			color: @colorGray2;
			font-size: 12px;
			overflow: hidden;
			min-width: 50px;
			display: flex;

			&-title {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				white-space: initial;
				line-height: 16px;
			}
		}
	}

	&-item-cta {
		flex: none;
		width: fit-content;
		padding-left: 0;

		&-btn {
			margin-left: 0;
		}
	}

	&-item-cta-text {
		flex-direction: column;
		max-width: unset;
		min-width: unset;
	}

	&-item-cta-text-title {
		font-weight: bold;
		font-size: 14px;
		color: @colorGray2;
	}

	&-item-cta-text-subtitle {
		display: block;
		white-space: normal;
		color: @colorGray5;
	}

	&-item:last-child,
	&-item-no-border {
		border-right: unset;
	}

	&-item:hover,
	&-item-cta:hover {
		text-decoration: none;
	}
}

.ext-wikistories-viewer-on {
	overflow: hidden;
}
